.page {
    width: 80vw;
    height: 80vh;
    border: 1px solid red;
    font-size: 20px;
}

nav ul li {
    display: inline;
}

#page1 {
    background: red;;
    color:white
}

#page2 {
    background: green
}

#page3 {
    background: blue
}

#hamIcon {
    display: none;
}

@media (max-width:800px) {

    /*make a menu items vertical*/
    nav ul li {
        display: block;
    }

    /* unhide menu icon */
    #hamIcon {
        display: block;
    }

    /*hide the menu item list*/
    nav ul {
        display: none;
    }
}

/*to unhide menu items*/
.menuShow {
    display: block;
}

#ball {
    background: cyan;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}